* {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: 'Arial';
  line-height: 1.9;
  margin: 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
a {
  color: #cc2100;
}
a:visited {
  color: #8a0000;
}
h1 a {
  text-decoration: none;
  color: #2c2c2c;
}
h1 a:visited {
  color: #2c2c2c;
}
h2 a {
  text-decoration: none;
  color: #2c2c2c;
}
h2 a:visited {
  color: #2c2c2c;
}
h3 a {
  text-decoration: none;
  color: #2c2c2c;
}
h3 a:visited {
  color: #2c2c2c;
}
h4 a {
  text-decoration: none;
  color: #2c2c2c;
}
h4 a:visited {
  color: #2c2c2c;
}
h5 a {
  text-decoration: none;
  color: #2c2c2c;
}
h5 a:visited {
  color: #2c2c2c;
}
h6 a {
  text-decoration: none;
  color: #2c2c2c;
}
h6 a:visited {
  color: #2c2c2c;
}
.l-container {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  grid-gap: 20px 10px;
}
.l-masthead,
.l-main,
.l-aside {
  grid-column: 1/4;
}
.l-main {
  grid-row: 3;
}
@media (min-width: 60em) {
  .l-main {
    grid-column: 1/3;
    grid-row: 2;
  }
}
@media (min-width: 80em) {
  .l-main {
    grid-column: 2;
  }
}
.l-aside {
  grid-row: 2;
}
@media (min-width: 60em) {
  .l-aside {
    grid-column: 3;
    grid-row: 2;
  }
}
.is-hidden {
  display: none;
}
@media (max-width: 59em) {
  .is-hidden-xs {
    display: none;
  }
}
@media (min-width: 60em) and (max-width: 80em) {
  .is-hidden-sm {
    display: none;
  }
}
@media (min-width: 80em) {
  .is-hidden-md {
    display: none;
  }
}
.c-article {
  background-color: #fff;
  padding: 20px;
}
.c-article + .c-article {
  margin-top: 20px;
}
.c-article__header h1 {
  font-size: 1.4em;
  margin-bottom: 0;
}
@media (min-width: 60em) {
  .c-article__header h1 {
    font-size: 1.9em;
  }
}
.c-article__header h5 {
  margin: 0 0 5px 0;
}
.c-article__categories ul,
.c-article__tags ul {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}
.c-article__categories ul li,
.c-article__tags ul li {
  background-color: #f1f1f1;
  display: inline-block;
  margin: 5px 5px;
  padding: 0 5px;
}
.c-article__categories ul li:first-child,
.c-article__tags ul li:first-child {
  margin-left: 0;
}
.c-article__categories ul a,
.c-article__tags ul a {
  text-decoration: none;
  color: #000;
}
.l-masthead {
  background-color: #2c2c2c;
  padding-left: 15px;
  padding-right: 15px;
}
.l-masthead nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.c-logo a {
  color: #fff;
}
.c-logo a:visited {
  color: #fff;
}
.c-input {
  min-height: 35px;
}
.c-aside {
  font-size: smaller;
  padding: 0 20px 0 10px;
}
@media (min-width: 60em) and (max-width: 80em) {
  .c-aside {
    padding: 0 5px 0 2px;
  }
}
.c-aside a {
  text-decoration: none;
}
.c-aside svg {
  vertical-align: middle;
}
.c-aside__figure {
  margin: 0;
}
.c-aside__figure img {
  display: block;
  margin: 0 auto;
}
.c-aside__figure figcaption {
  padding: 10px 0;
  text-align: center;
}
@media (min-width: 60em) {
  .c-aside__figure figcaption {
    text-align: left;
  }
}
.c-aside__subtitle {
  border-bottom: 1px dotted #545454;
  font-size: 1.08em;
  font-weight: normal;
  margin: 1em 0;
}
.c-aside__list,
.c-aside__list-list {
  padding: 0 10px;
  list-style-type: none;
}
.c-aside__list li,
.c-aside__list-list li {
  padding: 5px 0;
}
.c-aside__list svg,
.c-aside__list-list svg {
  margin-right: 5px;
}
.c-article pre,
.c-article .highlight {
  background: #2d2d2d;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.c-article .highlight .gutter pre,
.c-article .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.c-article pre,
.c-article code {
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
}
.c-article code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.c-article pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.c-article .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.c-article .highlight table {
  margin: 0;
  width: auto;
}
.c-article .highlight td {
  border: none;
  padding: 0;
}
.c-article .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.c-article .highlight figcaption a {
  float: right;
}
.c-article .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.c-article .highlight .line {
  height: 22.400000000000002px;
}
.c-article .highlight .line.marked {
  background: #515151;
}
.c-article .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.c-article .gist .gist-file {
  border: none;
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.c-article .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.c-article .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.c-article .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.c-article .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.c-article .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.c-article .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.c-article .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
