<nav>
  <div>
    <h2 class="c-logo"><a href="/">Duduindo</a></h2>
  </div>

  <div>
    <form class="c-form">
      <input type="search" class="c-input c-input--search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
