<% if (post.categories && post.categories.length){ %>
  <div class="c-article__categories">
    <%- list_categories(post.categories, {
      show_count: false,
      separator: '►'
    }) %>
  </div>
<% } %>
