<!DOCTYPE html>
<html lang="pt-BR">
<%- partial('_partial/head') %>
<body>
  <div class="l-container">
    <header class="l-masthead">
      <nav>
        <div>
          <h2 class="c-logo"><a href="/">Duduindo</a></h2>
        </div>

        <div>
          <form class="c-form">
            <input type="search" class="c-input c-input--search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <section><%- body %></section>
    </main>

    <aside class="l-aside">
      <div class="c-article">
        <h2 itemprop="name">
          About me
        </h2>
      </div>
    </aside>
  </div>
</body>
</html>
