<!DOCTYPE html>
<html lang="pt-BR">
<%- partial('_partial/head') %>
<body>
  <div class="l-container">
    <header class="l-masthead">
      <div>
        <h2><a href=".">Duduindo</a></h2>
      </div>

      <div>
        <form action=".">
          <fieldset style="color: red;">
            <legend>Search</legend>
            <label for="search">Buscar</label>
            <input type="search" id="search">
          </fieldset>
        </form>
      </div>
    </header>

    <main class="l-main" style="background: silver;">
      Main
    </main>

    <aside class="l-aside" style="background: purple;">
      Aside
    </aside>
  </div>
</body>
</html>
