<!DOCTYPE html>
<html lang="pt-BR">
<%- partial('_partial/head') %>
<body>
  <div class="l-container">
    <header class="l-masthead">
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href=".">Duduindo</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </nav>
    </header>

    <main class="l-main">
      <section><%- body %></section>
    </main>

    <aside class="l-aside" style="background: #f5f5f5;">
      Aside
    </aside>
  </div>
</body>
</html>
